<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>CMS</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
</head>
<body>
  <% if session[:message] %>
    <div class="message">
      <p><%= session.delete(:message) %></p>
    </div>
  <% end %>

  <%= yield %>
  
  <footer>
    <% if session[:user] %>
      <p>
        Signed in as <%= session[:user] %>
        <form class="inline" action="/users/signout" method="post">
          <input type="submit" value="signout" />
        </form>
      </p>
    <% end %>
  </footer>
</body>
</html>