<form action="/files" method="post">
  <label for="new_file_name">Add a new document:</label><br/>
  <input type="text" name="new_file_name" id="new_file_name" />
  <input type="submit" value="Create" />
</form>